    {{#vendorExtensions.autoGeneratePrimaryKey}}@androidx.room.PrimaryKey(autoGenerate = true){{/vendorExtensions.autoGeneratePrimaryKey}} @Json(name = "{{{baseName}}}") @field:Json(name = "{{{baseName}}}") {{#vendorExtensions.x-nullable}}@XNullable {{/vendorExtensions.x-nullable}}{{#vendorExtensions.addNotNull}}@androidx.annotation.NonNull {{/vendorExtensions.addNotNull}}var {{{name}}}: {{#isXmlAttribute}}{{{xmlPrefix}}} {{/isXmlAttribute}}{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}{{^vendorExtensions.addNotNull}} = {{#defaultvalue}}{{defaultvalue}}{{/defaultvalue}}{{^defaultvalue}}null{{/defaultvalue}}{{/vendorExtensions.addNotNull}}{{#vendorExtensions.addNotNullPrimitive}} = 0{{/vendorExtensions.addNotNullPrimitive}}